body {
    margin: 0;
    background-color: white;
    font-family: 'Roboto', sans-serif;
}
button:focus
{
    outline: none;
}
button
{
    border: none;
    cursor: pointer;
    border-radius: 9px;
    background: #ffffff;
    box-shadow:  5px 5px 10px #c2c2c2,
    -5px -5px 10px #ffffff;
}
button:hover
{
    border-radius: 9px;
    background: #ffffff;
    box-shadow: inset 5px 5px 10px #c2c2c2,
    inset -5px -5px 10px #ffffff;
}